:root {
  --background: #fdf7ef;
  --soft-white: #f5f2eb;
  --lint-soft-white: #fffcf3;
  --very-soft-white: #fcfcfc;
  --white:  #ffffff;
  --soft-black: #1a1a1a;
  --very-soft-gray: #dbdbdb;
  --soft-gray: #b2b2b2;
  --strong-gray: #777777;
  --hard-strong-gray: #555555;
  --primary-blue: #3b82f6;
  --primary-yellow: #f59e0b;
  --primary-color: #ae6f01;
  --primary-red: #ef4444;
  --primary-red-dark: #660c0c;
  --primary-green-dark: #0a6907;
  --accent-low-color:#3c3c3c;
  --font-size-small-1: 0.6rem ;
  --font-size-small: 0.75rem ;
  --font-size-medium-1: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large-1: 1.3rem;
  --font-size-large: 2rem
}